@import "Responsive.css";
@import "Bootstrap.css";

@font-face {
  font-family: "webpage font";
  src: url(../Fonts/Poppins-Regular.otf), url(../Fonts/Poppins-Regular.ttf),
    url(../Fonts/Poppins-Regular.woff), url(../Fonts/Poppins-Regular.woff2);
}

@font-face {
  font-family: "header font";
  src: url(../Fonts/headerfont/Vollkorn-SemiBold.otf),
    url(../Fonts/headerfont/Vollkorn-SemiBold.ttf),
    url(../Fonts/Poppins-Regular.woff), url(../Fonts/Poppins-Regular.woff2);
}

:root {
  --primary-color: #017589;
}

* {
  box-sizing: border-box;

  scroll-behavior: smooth;
  font-family: "webpage font";
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

body {
  background-color: #fafafa;
}
.Logo-container {
  width: 200px;
  height: 77px;
}
.Navbar-container {
  z-index: 100;
  width: 100%;
}
.navbar-nav a {
  text-decoration: none !important;
  color: #474747 !important;
  font-size: 17px !important;
  padding: 0 13px;
}
.modal-backdrop {
  background-color: transparent !important;
}
.modal {
  top: 14%;

  overflow-y: scroll;
  height: 450px;
  position: absolute !important;
}
.Cameomodal .modal-content {
  border: 0;
  border-radius: 15px !important;
}

.modal-body {
  border-radius: 15px !important;
}
.Contactus-btnres button {
  display: none;
}
.Contactus-btnres button,
.Contactus-btn button,
.Contact-form button {
  text-decoration: none;
  padding: 15px 41px;
  font-size: 18px;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  background-color: var(--primary-color);
}
.Contactus-btnres a {
  text-decoration: none;
}
.Header-dropdown .dropdown-menu {
  width: 1000px;
  padding: 20px;
  top: 126%;
  border-radius: 15px;
  border: 0;
  height: 400px;
  position: absolute;
  transform: translate(-19%, 10px);
  overflow-y: scroll;
}
.Dropdown-section a {
  text-decoration: none !important;
}
.Dropdown-section .col h5 {
  line-height: 26px;
  color: #373838;
}
.Dropdown-section > .col:hover {
  background-color: #eefffd;
  border-radius: 10px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--primary-color) !important;
}
.maincontainer {
  /* max-width: 1170px !important; */
  padding: 180px 0 0 0;
  margin: 0 auto;
}
.Colorhead-txt {
  color: #007589 !important;
}
.header-font {
  font-family: "header font";
}
.Color-txt {
  color: var(--primary-color);
}
.video-container {
  height: 700px;
  border-radius: 15px;
}
.video-container > video {
  border-radius: inherit;
  width: 90% !important;
  height: auto !important;
  max-height: 570px !important;
  border-radius: 28px !important;
  object-fit: cover;
  margin: auto;
  min-height: 400px;
}
.icon-1 {
  position: absolute;
  top: 5%;
  background: #ffffff;
  box-shadow: 0px 40px 77px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  padding: 10px 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-2 {
  position: absolute;
  top: -20px;
  background: #ffffff;
  box-shadow: 0px 40px 77px rgb(0 0 0 / 14%);
  border-radius: 14px;
  padding: 11px 10px;
  left: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-3 {
  position: absolute;
  bottom: 14%;
  background: #ffffff;
  box-shadow: 0px 40px 77px rgb(0 0 0 / 14%);
  border-radius: 14px;
  padding: 11px 10px;
  left: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-txt {
  position: absolute;
  width: 100%;
  max-width: max-content;
  min-width: 150px;
  height: 59px;
  right: -20px;
  top: 31%;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  background: #ffffff;
  box-shadow: 0px 40px 77px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px;
}
.Call-container {
  position: absolute;
  bottom: 30%;
  background: #ffffff;
  box-shadow: 0px 40px 77px rgb(0 0 0 / 14%);
  border-radius: 14px;
  padding: 11px 14px;
  right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 165px;
}
.Call-container > div:nth-child(1) {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.Call-container > div:nth-child(1) > img {
  border-radius: inherit;
  object-fit: cover;
  text-align: center;
}
.pb-100 {
  padding-top: 80px;
  /* padding-bottom: 80px; */
}
.vision-img,
.outsourcing-container {
  border-radius: 15px;
}
.outsourcing-container img {
  border-radius: inherit;
}
.vision-img img {
  border-radius: inherit;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.ourvision-content {
  font-size: 18px;
  line-height: 1.8em;
}
.color-btn {
  text-align: center;
  color: #fafafa;

  background-color: var(--primary-color);
}
.Coreservice-container > a {
  text-decoration: none;
  color: #373838;
}
.Location-card {
  text-decoration: none !important;
  color: #474747;
  border-left: 4px solid var(--primary-color) !important;
}

.Digitalcard,
.Beyond-expectionsection,
.Location-card,
.Coreservice-container > a > .animate__jackInTheBox >.col > .card {
  background-color: #fafafa;
  border-radius: 15px;
  border: 0;
  position: relative;
  padding: 20px;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(239, 239, 239, 0.67),
    -0.2rem -0.2rem 0.3rem #ffffff;
}
.Digitalcard,
.Coreservice-container a .col p {
  font-size: 17px;
  max-width: 100%;
  color: #373838 !important;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 20px;
  padding-bottom: 22px;
}
.Coreservice-container a .col .card div:nth-child(2) {
  margin-bottom: 20px;
}

.count-container {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #38a89b,
    inset -0.2rem -0.2rem 0.5rem rgb(255 255 255 / 25%);
}

.Beyond-expectionsection:not(:first-child) {
  margin-top: -55px;
}
.Companylogo-container .col {
  margin-bottom: 20px;
}
.company-logo {
  padding: 30px;
  border-radius: 15px;
  border: 0;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;

  background-color: #fafafa;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(239, 239, 239, 0.67),
    -0.2rem -0.2rem 0.3rem #ffffff;
}

.Container-spacing {
  padding-right: 100px;
  padding-left: 100px;
}

.shakeeffect {
  animation: beat 1.3s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.2);
  }
}

.sectionbg1 {
  background-color: #eefafd;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.card1 {
  display: block;
  position: relative;

  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 46px;
    width: 34px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card1:hover {
  color: white;
}
.v1 {
  border-left: 2px solid rgb(100, 100, 100);
  height: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.Aboutus-point {
  display: flex;
  margin-bottom: 20px;
}
.Aboutus-point span:first-child {
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #fff;
  display: grid;
  font-weight: 700;
  height: 40px;
  margin-right: 15px;
  place-items: center;
  width: 40px;
}

.Bannerimg-section {
  background: url("../Images/bannerimage.jpg");
  background-blend-mode: multiply;
  background-color: var(--primary-color);
  width: 100%;
  height: 330px;
  padding-top: 127px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Digitalcard {
  padding: 30px;
}
.flag-container img {
  width: 120px;
}

.Carrers-container {
  background-color: white;
  border-radius: 10px;
}
